

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.results {
  background-color: #282060;
  display: flex;
  padding: 5rem;
  position: relative;
  height: auto;
  min-height: 100%;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 1000px) {
  .results {
    padding: 1rem;
  }
}

.App {
  height: 100%;
}

html, body, #root {
  height: 100%
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
